@model ShuttleService.Models.ShuttlePassenger

@{
    ViewData["Title"] = "Approval";
}
<div class="wrapper-content row">
    <div class="col-md-6">
        <h4>Driver/Vehicle request for approval</h4>
    </div>
    <div class="col-md-6 ">
        <div class="btn-group pull-right">
            <button class="ladda-button btn btn-primary" id="btnApprove" type="button" data-style="expand-left">Approve</button>
            <button class="ladda-button btn btn-danger" id="btnDisapprove" type="button" data-style="expand-left">Disapprove</button>
        </div>
    </div>
</div>
<br />
<div class="wrapper wrapper-content animated fadeInRight white-bg">

    <div class="">
        <div class="row">
            <div class=" col-sm-12">
                <br />
                <table id="data_table_approvals_group" class="table table-striped table-bordered table-hover text-center table100"></table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ModalApproval" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content modal-col-red">
            <div class="modal-header" style=" padding: 10px 25px 5px 25px!important;border-style: none none solid none;">
                <h4 class="modal-title" id="ModalTitle" style="font-size: 15px;"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6 ">
                        <div class="btn-group pull-right">
                            <button class="ladda-button btn btn-primary" id="btnApproveModal" type="button" data-style="expand-left">Approve</button>
                            <button class="ladda-button btn btn-danger" id="btnDisapproveModal" type="button" data-style="expand-left">Disapprove</button>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <input type="hidden" id="TransactionId" value="0" />
                    <br />
                    <table class="table table100 no-borders">
                        <tr>
                            <td width="20%">Requested By:</td>
                            <td width="80%"> <label id="ReqBy"></label></td>
                        </tr>
                        <tr>
                            <td width="20%">Schedule of Trip:</td>
                            <td width="80%"><label id="TripDate"></label></td>
                        </tr>

                        <tr>
                            <td width="20%">Schedule of Trip:</td>
                            <td width="80%"><label id="TripTime"></label></td>
                        </tr>

                        <tr>
                            <td width="20%">Destination:</td>
                            <td width="80%"><label id="TripDestination"></label></td>
                        </tr>
                        <tr>
                            <td width="20%">Charging Company:</td>
                            <td width="80%"><label id="ChargingComp"></label></td>
                        </tr>
                        <tr>
                            <td width="20%">Charging Department:</td>
                            <td width="80%"><label id="ChargingDep"></label></td>
                        </tr>
                    </table>

                    <table id="data_table_approvals_individual" class="table table-striped table-bordered table-hover table100"></table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="loaded">
                    <button type="button" class="btn btn-danger waves-effect" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var table1 = $('#data_table_approvals_group').DataTable({
        "processing": false,
        "serverSide": true,
        "autoWidth": false,
        "searching": false,
        "scrollX": true,
        "bLengthChange": false,
        "ajax": {
            "url": "@Url.Content("~/driverpassengers/ReservationForApprovalGroup")",
            "type": "POST"
        },
        "columns": [
            { "data": "id", title: "Action", width: "5%", align: "center", orderable: false },
            { "data": "transactionId", title: "Transaction ID", orderable: false },
            { "data": "natureApplication", title: "Nature of Application", orderable: false },
            { "data": "dateFiled", title: "Date Filed", orderable: false },
            { "data": "tripDate", title: "Trip Date", orderable: false },
            { "data": "instructions", title: "Instructions", orderable: false },
            { "data": "requestedBy", title: "Requested By", orderable: false },
            { "data": "checkBox", title: "Select", orderable: false }
        ]
        ,
        'select': {
            'style': 'single'
        },
        'columnDefs': [
            {
                "targets": "_all", // your case first column
                "className": "text-center",
            }],
        "order": [[0, "desc"]]
    });


     var table2 = $('#data_table_approvals_individual').DataTable({
        "processing": false,
        "serverSide": true,
        "autoWidth": false,
        "searching": false,
        "scrollX": true,
        "bLengthChange": false,
        "ajax": {
            "url": "@Url.Content("~/driverpassengers/ReservationForApprovalIndividual")",
            "type": "POST",
            "data": function (d) {
                d.TransactionId = $("#TransactionId").val();
            }
        },
        "columns": [
            { "data": "id", title: "Id", width: "5%", align: "center", orderable: false, visible: false },
            { "data": "transactionId", title: "Transaction ID", orderable: false, visible: false },
            { "data": "fullName", title: "Name", orderable: false },
            { "data": "natureApplication", title: "Nature of Application", orderable: false },
            { "data": "dateFiled", title: "Date Filed", orderable: false },
            { "data": "instructions", title: "Instructions", orderable: false },
            { "data": "requestedBy", title: "Requested By", orderable: false },
            { "data": "checkBox", title: "Select", orderable: false }
        ]
        ,
        'select': {
            'style': 'single'
        },
        'columnDefs': [
            {
                "targets": "_all", // your case first column
                "className": "text-center",
            }],
         "order": [[0, "desc"]],
         "initComplete": function (settings, json) {
             console.log(json);
         }
    });

    $(document).ready(function () {
        setTimeout(function () {
            $('#data_table_approvals_group').DataTable().columns.adjust().responsive.recalc();
        }, 500);
    });






    $('#btnApprove').click(function () {
            var checkcounter = 0;
            $('.checkBoxGroup').each(function () {
                if (this.checked) {
                    checkcounter++;
                }
            });


        if (checkcounter >= 1) {
            swal({
                title: "Are you sure?",
                text: "This will Approve all the person(s) under your team from all the checked Transaction ID(s)",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#18a689",
                confirmButtonText: "Yes, Approve it!",
                closeOnConfirm: false
            }, function () {

                ApproveGroup(2);

            });

        }
        else {
            swalAlertOnly("Error", "There is no reservation to approve.", "error");
        }






    });

    $('#btnDisapprove').click(function () {
        var checkcounter = 0;
        $('.checkBoxGroup').each(function () {
            if (this.checked) {
                checkcounter++;
            }
        });


        if (checkcounter >= 1) {
                swal({
                    title: "Are you sure?",
                    text: "This will Disapprove all the person(s) under your team from all the checked Transaction ID(s)",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, Disapprove it!",
                    closeOnConfirm: false
                }, function () {

                    ApproveGroup(3);

                        });
        }
        else {
            swalAlertOnly("Error", "There is no reservation to approve.", "error");
        }




    });



    $('#btnApproveModal').click(function () {
        var checkcounter = 0;
        $('.checkBoxIndividual').each(function () {
            if (this.checked) {
                checkcounter++;
            }
        });


        if (checkcounter >= 1) {
            swal({
                title: "Are you sure?",
                text: "This will Approve all the person(s) you selected below",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#18a689",
                confirmButtonText: "Yes, Approve it!",
                closeOnConfirm: false
            }, function () {

                ApproveIndividual(2);

            });

        }
        else {
            swalAlertOnly("Error", "There is no reservation to approve.", "error");
        }






    });



    $('#btnDisapproveModal').click(function () {
        var checkcounter = 0;
        $('.checkBoxIndividual').each(function () {
            if (this.checked) {
                checkcounter++;
            }
        });


        if (checkcounter >= 1) {
            swal({
                title: "Are you sure?",
                text: "This will Disapprove all the person(s) you selected below",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, Disapprove it!",
                closeOnConfirm: false
            }, function () {

                ApproveIndividual(3);

            });
        }
        else {
            swalAlertOnly("Error", "There is no reservation to approve.", "error");
        }




    });


    function ApproveGroup(_method) {

        var l = $('#btnApprove').ladda();
        l.ladda('start');
        $(".btn").attr("disabled", "disabled");
                var TransactionIds = "";
                $('.checkBoxGroup').each(function () {
                    if (this.checked) {
                        TransactionIds += this.value + ",";
                    }
                });

        $("#ModalLoadingSMS").modal("show");
        $("#ModalLoadingSMS").css('display', 'block');

                $.ajax({
                    type: "POST",
                    url: "@Url.Content("~/driverpassengers/approveByGroup/")/" + _method,
                    data: { "TransactionId": TransactionIds, "_method": _method},
                    //"contentType": "application/json; charset=utf-8",
                    dataType: "JSON",
                    success: function (data, textStatus, jqXHR) {
                        console.log(data);
                        if (data.success == 1) {
                            $('#data_table_approvals_group').DataTable().clear().draw();
                            $('#data_table_approvals_group').DataTable().ajax.reload();

                            //swalAlertOnly("Success", data.message, "success"); //JPT commented code 09042024
							swalAlertOnly("Success","", "success"); //JPT additional code 06302025
                        } else {
                            swalAlertOnly("Error", data.message, "error");
                        }
                        l.ladda('stop');
                        $(".btn").removeAttr("disabled");

                        $("#ModalLoadingSMS").css('display', 'none');
                    }
                });
    }


    function ApproveIndividual(_method) {

        var l = $('#btnApproveModal').ladda();
        l.ladda('start');
        $(".btn").attr("disabled", "disabled");
                var TransactionIds = "";
                 $('.checkBoxIndividual').each(function () {
                    if (this.checked) {
                        TransactionIds += this.value + ",";
                    }
                });


        $("#ModalLoadingSMS").modal("show");
        $("#ModalLoadingSMS").css('display', 'block');
                $.ajax({
                    type: "POST",
                    url: "@Url.Content("~/driverpassengers/approveByIndividual/")/" + _method,
                    data: { "TransactionId": TransactionIds, "_method": _method},
                    //"contentType": "application/json; charset=utf-8",
                    dataType: "JSON",
                    success: function (data, textStatus, jqXHR) {
                        console.log(data);
                        if (data.success == 1) {
                            $('#data_table_approvals_individual').DataTable().clear().draw();
                            $('#data_table_approvals_individual').DataTable().ajax.reload();
                            $('#data_table_approvals_group').DataTable().clear().draw();
                            $('#data_table_approvals_group').DataTable().ajax.reload();

                            var table = $('#data_table_approvals_individual').DataTable();
                            if (!table.data().count()) {
                                $("#ModalApproval").modal('hide');
                            }

							//swalAlertOnly("Success", data.message, "success"); //JPT commented code 09042024
							swalAlertOnly("Success", "", "success"); //JPT additional code 06302025
                        } else {
                            swalAlertOnly("Error", data.message, "error");
                        }
                        l.ladda('stop');
                        $(".btn").removeAttr("disabled");

                        $("#ModalLoadingSMS").css('display', 'none');
                    }
                });
    }

    function ViewEmployeeAjax(transId, ReqBy, TripDate, ChargingComp, ChargingDep, TripTime, TripDestination) {

        $("#ModalTitle").html("Driver / Shuttle vehicle request for approval - <b style='color:#18a689'>" + transId + "</b>");
        $("#TransactionId").val(transId);
        $("#ReqBy").html("<b style='color:#18a689'>" + ReqBy + "</b>");
        $("#TripDate").html("<b style='color:#18a689'>" + TripDate + "</b>");
        $("#TripTime").html("<b style='color:#18a689'>" + TripTime + "</b>");
        $("#TripDestination").html("<b style='color:#18a689'>" + TripDestination + "</b>");
        $("#ChargingComp").html("<b style='color:#18a689'>" + ChargingComp + "</b>");
        $("#ChargingDep").html("<b style='color:#18a689'>" + ChargingDep + "</b>");
        $('#data_table_approvals_individual').DataTable().clear().draw();
        $('#data_table_approvals_individual').DataTable().ajax.reload();
        $("#ModalApproval").modal("show");
        setTimeout(function () {
            $('#data_table_approvals_individual').DataTable().columns.adjust().responsive.recalc();
        }, 500);
    }

</script>