@model ShuttleService.Models.DefaultApprover

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>DefaultApprover</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ApproverEmployeeNo" class="control-label"></label>
                <input asp-for="ApproverEmployeeNo" class="form-control" />
                <span asp-validation-for="ApproverEmployeeNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmployeeNo" class="control-label"></label>
                <input asp-for="EmployeeNo" class="form-control" />
                <span asp-validation-for="EmployeeNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EncodedBy" class="control-label"></label>
                <input asp-for="EncodedBy" class="form-control" />
                <span asp-validation-for="EncodedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastModifiedBy" class="control-label"></label>
                <input asp-for="LastModifiedBy" class="form-control" />
                <span asp-validation-for="LastModifiedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EncodeDate" class="control-label"></label>
                <input asp-for="EncodeDate" class="form-control" />
                <span asp-validation-for="EncodeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifyDate" class="control-label"></label>
                <input asp-for="ModifyDate" class="form-control" />
                <span asp-validation-for="ModifyDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
