
@{
    ViewData["Title"] = "AccessDenied";
}



<body class="gray-bg">

    <div class="middle-box text-center animated fadeInDown">

        <center><h2><b>ACCESS DENIED</b></h2></center>
        <h3 class="font-bold">You do not have an access to this page</h3>

        <div class="error-desc">
            You can go back to main page: <br /><a href="@Url.Content("~/home")" class="btn btn-primary m-t">Dashboard</a>
        </div>
    </div>


</body>

