
<h1 style="color:red">
    This email is not registered as local. Please contact the technical.
</h1>


<script>
    $("#MenuLists").css("display", "none");
    $("#LogoutList").css("display", "none");

</script>