<h1>Forgot Password Confirmation</h1>

<p>
    The link has been sent, please check your email to reset your password.
</p>


<script>
    $("#MenuLists").css("display","none");
    $("#LogoutList").css("display", "none");

</script>