@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>
    What are cookies?

    Cookies are small files containing basic information about a particular website and the user. A cookie stores select pieces of information based on your visit to the Hypersunday website, traffic information, time you spend in the web site, for example, but they also run when you fill a form or when you interact with a widget (Soundcloud tracks, for example, or Instagram viewer).

    There are different types of cookies: permanent and non permanent. When you visit a website with cookies, a cookie is downloaded onto your computer via your browser. The next time you visit the site, your computer checks to see if it has a relevant cookie and sends the information contained in that cookie back to the site. This is a permanent cookie. Non permanent cookies are those that only run for one session, meanwhile you are visiting the site .

    Cookies are only associated with an anonymous user and his/her computer and do not provide any references that would make it possible to deduce the user’s personal details.



    Types

    We can use different types of cookies:

    Session Cookies, which are temporary cookies that remain in the cookie file of your browser until you leave the site.

    Permanent cookies contain information that remain in your pc and allow the system to ‘remember’ some of your preferences around navigation, for example, information about which browser you use, which is the main information needed for the cookie to work.

    Cookies cannot be used to run programs or deliver viruses to your computer.

    Also, depending on the aim they pursue, we have different types of cookies.

    Technical cookies. They allow the user to navigate the web site and using different options and services inside it. For example, they allow the web’s traffic control, data communication, identifying session, accessing restricted areas inside the web, using security elements or storage contents for show and/or delivering photographs, videos or sounds.

    Personalisation cookies. They are used in order to provide personalised services to the user (software used for navigation, idiom preferences…).

    Analytics cookies. They allow to make analysis of the user’s behaviour inside the web site: which pages they do prefer, how much time they spend inside every page, which contents have more downloads, etc. This kind of information allows us to know how improve our contents.

    Third part’s cookies. Cookies from other companies that we use inside our web page. For example, services as the provided by Google Analytics, that allow us to access statistical data about our web.

    Disabling/Enabling Cookies

    You have the ability to accept or decline cookies by modifying the settings in your browser, as well as delete any cookies that have been installed in the cookie folder of your browser. However, you may not be able to use all the interactive features of the web site if cookies are disabled/deleted. If you do not know how to disable or delete cookies for the browser you are using, you should select Cookies in the Help function of your browser to get more information.
</p>
